@font-face {
  font-family: dot;
  src: url("../font/PixelMplus12-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

img {
  display: block;
}

.container {
  width: 400px;
  height: 100dvh;
  margin: 0 auto;
}