.container {
  background-color: blue;
}

.heading {
  color: white;
  font-size: 48px;
  font-family: dot;
  text-align: center;
}

.section {
  color: white;
  font-family: dot;
  text-align: center;
  margin: 32px;
}

.score__heading {
  font-size: 32px;
}

.score__value {
  font-size: 28px;
  margin: 16px 0;
}

.score__text {
  font-size: 16px;
  margin: 32px 0;
  padding: 10px;
  border: solid 1px white;
}

.score__btn {
  display: block;
  width: 100%;
  color: black;
  font-size: 16px;
  padding: 10px;
  border: none;
  background-color: yellow;
}

.ranking__heading {
  font-size: 32px;
}

.ranking-row {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-top: 16px;
}

.divider {
  height: 1px;
  margin: 64px 32px;
  background-color: white;
}

.replay {
  display: block;
  color: black;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 0 32px;
  padding: 10px;
  border: none;
  background-color: yellow;
}