<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escape Runner</title>
  <link rel="stylesheet" href="./styles/common.css">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <div class="container">
    <div class="score">00012340</div>
    <div class="field">
      <div class="tile rock"></div>
      <div class="tile"></div>
      <div class="tile enemy"></div>
      <div class="tile"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile flower"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile"></div>
      <div class="tile player"></div>
      <div class="tile mushroom"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile stump"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile flower"></div>
      <div class="tile"></div>
      <div class="tile stump"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile stump"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile"></div>
      <div class="tile mushroom"></div>
      <div class="tile"></div>
      <div class="tile rock"></div>
      <div class="tile rock"></div>
      <div class="tile"></div>
      <div class="tile stump"></div>
      <div class="tile flower"></div>
      <div class="tile rock"></div>
    </div>
  </div>
</body>
</html>